
#postgres 
POSTGRES_USER=pacova
POSTGRES_PASSWORD=pacova123
POSTGRES_DB=postgres

#the connection string a service uses to reach its database:
AUTH_DATABASE_URL=postgresql://pacova:pacova123@postgres:5432/auth_db
CHAT_DATABASE_URL=postgresql://pacova:pacova123@postgres:5432/chat_db
GAME_DATABASE_URL=postgresql://pacova:pacova123@postgres:5432/game_db
USER_DATABASE_URL=postgresql://pacova:pacova123@postgres:5432/user_db